.download {
    position: relative;
}

.download-box {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.thumbnail {
    position: absolute;
    left: 30px;
    height: 120px;
    object-fit: cover;
}

iframe {
    position: relative;
    width: 200px;
    left: 800px;
}

.texts {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 230px;
    width: 550px;
    
}

.texts > span:nth-child(1) {
    font-size: 24px;
}


.texts > span:nth-child(2) {
    font-size: 18px;
    margin-top: 4px;
    
}
