.side {
    background-color: #131639;
    border-right: 1px solid rgba(187, 184, 184, 0.21);
    height: 100%;
    border-top-left-radius: 12px;
}

.title {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}
.title > span {
    color: white;
    font-family: "eng-font";
    font-size: 1.8rem;
    font-weight: lighter;
    padding-left: 30px;
}

.menu {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
}

.menu > li {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.link {
    text-decoration: none !important;
    color: white;
    font-size: 0.9rem;
    padding-left: 15px;
    font-weight: lighter;
    font-family: "eng-font";

}

.icon {
    color: white;
    font-size: 1rem;
}

.playList {
    margin-left: 20px;
    margin-top: 20px;
}