.music_front_bar{
    bottom: 0;
    width: 100%;
    height: 10%;
    position: absolute;
    border-bottom-left-radius : 12px;
    border-bottom-right-radius : 12px;
    display: grid;
    grid-template-columns: 200px 780px 300px;
}

.music_front_bar{
    background: rgb(89,93,169);
    background: linear-gradient(90deg, rgba(89,93,169,1) 0%, rgba(67,70,123,1) 17%, rgba(93,94,174,1) 43%, rgba(71,73,130,1) 69%, rgba(93,94,174,1) 100%);
}

.music-info {
    width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music-img-space {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;

}
.music-user {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-user > span {
    color: white;
}

.music-user > span:nth-child(1){color: white; font-size: 1rem;}
.music-user > span:nth-child(2){color: rgba(255, 255, 255, 0.6); font-size: 0.8rem;}

.music-play {
    height: 100%;
}

.music-system {
    height: 100%;
}
