.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #5255be;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-app {
    width: 1065px;
    height: 675px;
    background-color: black;
    border-radius: 12px;
    position: relative;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.music-content {
    width: 100%;
    height: 90%;
    background-color: #0c102d;
    position: absolute;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: grid;
    grid-template-columns: 210px 855px;
    
}

.music-bar{
    width: 100%;
    height: 10%;
}